{% extends 'base.html' %}


{% block content %}

<div class="container d-flex flex-column justify-content-center" style="height:100vh;">

  <div id="columns">
    {% for review in reviews %}
    <a href="{% url 'reviews:detail' review.pk %}">
      <figure>
        <div class="col-cover"></div>
        <figcaption>{{ review.title }}</figcaption>
        <figcaption>{{ review.content }}</figcaption>
      </figure>
    </a>
    {% endfor %}
  </div>

</div>

{% endblock %}

<!-- 
<table class="table">
  <thead>
    <tr>
      <th scope="col">title</th>
      <th scope="col">content</th>

    </tr>
  </thead>
  <tbody>

<tr>
  <td><a href="{% url 'reviews:detail' review.pk %}">{{ review.title }}</a></td>
  <td>{{ review.content }}</td>
</tr>
  </tbody>
</table>
-->