{% extends 'base.html' %}

{% load widget_tweaks %}
{% load django_bootstrap5%}


{% block content %}
<div class="container d-flex flex-column justify-content-center" style="height:100vh;">
    <form action="" method="POST" class="text-dark bg-body p-5">
        
        {% csrf_token %}
        <div class="text-center d-flex justify-content-center">
            <a class="me-auto" href="{% url 'reviews:index' %}"><i class="fa-solid fa-arrow-left"></i> <span class="fs-6">목록으로</span></a>
            
            <h2>리뷰 작성</h2>
        </div>
        <div class="my-3">
            {{ form.title|attr:"placeholder:제목"}}
        </div>
        <div class="my-2">
            {{ form.content|attr:"placeholder:내용"}}
        </div>
        <div class="my-2 mb-3">
            {{ form.movie_name|attr:"placeholder:선물 내용"}}
        </div>
        <div class="my-2">
            <div style="color:gold;">
                <span style="color:black">만족도 :</span>
                {% for radio in form.grade %}
                &nbsp; &nbsp;{{ radio }}
                {% endfor %}
            </div>
        </div>
        <div class="my-2">
            {{ form.image1 }}
        </div>
        <div class="my-2">
            선택:&nbsp;{{ form.image2 }}
        </div>
        <div class="my-2 mb-5">
            선택:&nbsp;{{ form.image3 }}
        </div>
        <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-secondary">수정-✨</button>
        </div>
    </form>
    
</div>
{% endblock %}