#columns {
  column-width: 350px;
  column-gap: 15px;
  overflow: auto;
  -ms-overflow-style: none;
}

#columns figure {
  position: relative;
  display: inline-block;
  border:1px solid rgba(0,0,0,0.2);
  margin:0;
  margin-bottom: 15px;
  padding:10px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

#columns::-webkit-scrollbar{
  display:none;
}

#columns figure figcaption{
  border-top:1px solid rgba(0,0,0,0.2);
  padding:10px;
  margin-top:11px;
  color: #fff;
  opacity: .8;
}

.col-cover {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: .2;
  width: 100%;
  height: 100%;
}