{% extends 'base.html' %}


{% block content %}
<div class="container d-flex flex-column justify-content-center" style="height:100vh;">

<a href="{% url 'accounts:main' %}">메인으로 이동</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">pk</th>
      <th scope="col">username</th>
      <th scope="col">email</th>
    </tr>
  </thead>
  <tbody>
    
    {% for uesr in users %}
    <tr>
      <td>{{ user.pk }}</td>
      <td><a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a></td>
      <td>{{ user.email }}</td>
    </tr>
    {% endfor %}
      
  </tbody>
</table>

</div>
{% endblock %}